version: "3.9"

services:
  db:
    image: postgres:16
    container_name: devops_sample_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sampledb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    container_name: devops_sample_backend
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: devops_sample_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data:
